/* --------------------
# EXTRA SWITCH (MEDIA)
----------------------- */
#root {
  .extra {
    border: none;
    display: flex;
    justify-content: flex-end;
    position: relative;
    transform: translateY(-40px) translateX(15px);

    .custom-control.custom-switch {
      display: flex;
      flex-direction: row-reverse;
    }

    .label {
      position: absolute;
      right: 2.5rem;
      top: -0.15rem;
      text-align: right;
      color: #1b2e4b;
    }

    .custom-control {
      right: 0.9rem;
    }

    .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
      transform: translate(0.86rem, -50%);
    }
    .custom-switch .custom-control-input ~ .custom-control-label::after {
      transform: translate(0.16rem, -50%);
    }
  }
}
