///////////////
// #ETAGE
//////////////

.level {
  font-size: 0.75rem;
  font-weight: 500;
  padding-left: 0.05rem;
}

.level-no {
  font-size: 2rem;
  font-weight: 500;
  display: block;
  line-height: 1.7rem;
}

.level-wrapper {
  margin-top: 2.5rem;
  > div:nth-child(1) {
    padding-bottom: 1rem;
  }
}
.level-wrapper:nth-child(1) {
  margin-top: 0rem;
}

@media (min-width: 900px) {
  .level-wrapper {
    display: flex;
    flex-wrap: nowrap;
    > div:nth-child(1) {
      padding-right: 1.5rem;
      padding-left: 0.5rem;
    }
  }
}
