////////////////////////
// # MEDIA / ICON AREA
////////////////////////

.Media {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 15px 35px;
  border: 1px solid rgba(72, 94, 144, 0.16);
  border-top: none;
  position: relative;
  svg {
    width: 30px;
    height: 30px;
  }
  svg:nth-child(2) {
    height: 34px;
    width: 34px;
    /*  transform: translateY(-2px) translateX(-2px); */
    stroke-width: 0.9px;
  }

  svg.video,
  svg.docs {
    transition: 0.5s;
    stroke: #0168fa;
  }
}

.fade-media-out {
  animation: fade-media-out 0.5s ease-in-out 1 forwards;
  overflow: hidden;
}
.fade-media-in {
  animation: fade-media-in 0.5s ease-in-out 1 forwards;
  overflow: hidden;
}

@keyframes fade-media-out {
  0% {
    opacity: 1;
    max-height: 70px;
    padding: 20px 20px 15px 35px;
  }
  100% {
    opacity: 0;
    max-height: 0;
    padding: 0px 20px 0px 35px;
  }
}
@keyframes fade-media-in {
  0% {
    opacity: 0;
    max-height: 0px;
    padding: 0px 20px 0px 35px;
  }
  100% {
    opacity: 1;
    max-height: 70px;
    padding: 20px 20px 15px 35px;
  }
}

@media (min-width: 500px) {
  #root .Media {
    max-width: 60%;
    border-right-color: transparent;
  }
}
@media (min-width: 650px) {
  #root .Media {
    max-width: 40%;
  }
}

@media (min-width: 900px) {
  @keyframes fade-media-out {
    0% {
      opacity: 1;
      max-height: 270px;
      padding: 20px 20px 15px 35px;
    }
    100% {
      opacity: 0;
      max-height: 0;
      padding: 0px 20px 0px 35px;
    }
  }
  @keyframes fade-media-in {
    0% {
      opacity: 0;
      max-height: 0px;
      padding: 0px 20px 0px 35px;
    }
    100% {
      opacity: 1;
      max-height: 270px;
      padding: 20px 20px 15px 35px;
    }
  }
}
