.Media {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 15px 35px;
  border: 1px solid rgba(72, 94, 144, 0.16);
  border-top: none;
  position: relative;
  svg {
    width: 30px;
    height: 30px;
  }
  svg:nth-child(2) {
    height: 34px;
    width: 34px;
    transform: translateY(-2px) translateX(-2px);
    stroke-width: 0.9px;
  }
}

.fade-media-out {
  animation: fade-out 0.5s ease-in-out 1 forwards;
  overflow: hidden;
}
.fade-media-in {
  animation: fade-in 0.5s ease-in-out 1 forwards;
  overflow: hidden;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    max-height: 70px;
    padding: 20px 20px 15px 35px;
  }
  100% {
    opacity: 0;
    max-height: 0;
    padding: 0px 20px 0px 35px;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    max-height: 0px;
    padding: 0px 20px 0px 35px;
  }
  100% {
    opacity: 1;
    max-height: 70px;
    padding: 20px 20px 15px 35px;
  }
}

@media (min-width: 500px) {
  .Media {
    max-width: 60%;
    border-right: none;
  }
}
@media (min-width: 650px) {
  .Media {
    max-width: 40%;
    border-right: none;
  }
}
