/* --------------------
# NAVIGATION
----------------------- */
#Nav {
  position: relative;

  /*  [data-state="hidden"] {
    display: none;
  } */
  > div.nav-container.section-bg > article[data-state="hidden"] {
    transition: 0.4s;
    opacity: 0;
    height: 0px;
    overflow: hidden;
    padding: 0 1rem;
  }
  [data-state="shown"] {
    display: inline-block;
  }
  > div.nav-container.section-bg > article[data-state="shown"] {
    transition: 0.4s;
    opacity: 1;
    height: auto;
    max-height: 100%;
    overflow: hidden;
    padding: 1rem;
  }

  .fire-dialogbox {
    position: absolute;

    width: 95%;
    height: 37px;
  }

  #finish svg {
    pointer-events: none;
  }
  select {
    display: block;
    width: 100%;
    padding: 0.46875rem 0.625rem;
    margin-bottom: 1rem;
  }
  .top-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  button.btn.reset {
    background-color: #fed65e;
    border-color: #fed65e;
    color: #000;
  }
  button.btn.reset:active,
  button.btn.reset:hover {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #000;
  }

  .back,
  .undone {
    margin-left: 0.5rem;
  }

  .undone {
    position: absolute;
    transform: translateY(-156.5px);
    right: 4.5rem;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;

    display: grid;
    grid-template-areas: "start reset space message";
    grid-template-columns: 5.3rem 5.8rem auto 6rem;
    grid-column-gap: 2%;
    justify-content: initial;

    button:not(.undone) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  #start,
  #finish {
    grid-area: start;
  }

  #Nav .reset {
    grid-area: reset;
  }
  .message {
    grid-area: message;
    position: absolute;
    transform: translateY(-95px);
    right: 2rem;
  }

  .nav-container p span {
    color: #dc3545;
  }

  .back {
    background-color: #fff;
  }
  .message {
    height: auto;
  }

  .unfinished-container {
    padding: 2rem 1rem 1rem;
    color: #707070;
    li {
      list-style-type: "›";
      padding-left: 1rem;
      /*  font-style: italic; */
    }
  }
  .infobox {
    padding: 0.5rem 0;
    font-weight: 500;
  }

  .unfinished-container {
    p {
      font-size: 0.875rem;
      color: #001737;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    ul {
      padding-bottom: 1rem;
      li {
        line-height: 1.7rem;
      }
    }
  }
  .custom-control {
    padding: 0.25rem 1.5rem;
  }
  .custom-control:nth-child(2) {
    padding: 0.25rem 1.5rem 0.5rem;
  }

  .required {
    color: #dc3545;
  }
}

.error {
  color: #dc3545;
}

@media (min-width: 350px) {
  #Nav .message {
    position: static;
    transform: translateY(0);
  }
}
@media (min-width: 400px) {
  #Nav .btn-container {
    grid-template-columns: 7rem 7rem auto 6rem;
    button:not(.undone) {
      padding: 0.391rem 0.5rem;
    }
  }
}
@media (min-width: 700px) {
  #Nav .unfinished-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    > div:nth-child(2) {
      padding-left: 5rem;
      width: 60%;
      max-width: 600px;
      height: 100%;
    }
  }
}

@media (min-width: 768px) {
  #Nav .btn-container {
    display: grid;
    grid-template-areas: "start reset space undone message";
    grid-template-columns: 7rem 7rem auto 13rem 6rem;
    grid-column-gap: 1%;
    justify-content: initial;

    button:not(.undone) {
      padding: 0.391rem 0.5rem;
    }
  }

  #start,
  #finish {
    grid-area: start;
  }

  #Nav .reset {
    grid-area: reset;
  }
  .message {
    grid-area: message;
  }

  #Nav .undone {
    grid-area: undone;
    position: static;
    transform: translateY(0);
  }

  #Nav .back {
    position: absolute;
    transform: translateY(-5.3rem);
  }
}
