/* --------------------
# NAVIGATION
----------------------- */
#Nav {
  select {
    display: block;
    width: 100%;
    padding: 0.46875rem 0.625rem;
    margin-bottom: 1rem;
  }
  .top-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  .back,
  .undone {
    margin-left: 0.5rem;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  .start {
    margin-right: 0.5rem;
  }

  .nav-container p span {
    color: #dc3545;
  }

  .back {
    background-color: #fff;
  }
  .message {
    height: auto;
  }

  .unfinished-container {
    padding: 2rem 1rem 1rem;
    color: #707070;
  }
  .infobox {
    padding: 1rem 0;
  }
  .custom-control {
    padding: 0.25rem 1.5rem;
  }
  .custom-control:nth-child(2) {
    padding: 0.25rem 1.5rem 0.5rem;
  }

  .required {
    color: #dc3545;
  }
}
