/* -----------------
# GENEREL
------------------- */

#root .Popover {
  position: absolute;
  max-width: 90%;
  bottom: 0.8rem;
  z-index: 2;
  left: 5%;

  .triangle-wrapper {
    position: absolute;
    width: 100%;
    transition: 1s;
  }

  .inner-triangle {
    background-color: transparent;
    border-top: 15px solid white;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    height: 30px;
    width: 30px;
    position: absolute;
  }
  .outer-triangle {
    background-color: transparent;
    border-top: 16px solid rgba(28, 39, 60, 0.05);
    border-bottom: 15px solid transparent;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    height: 34px;
    width: 34px;
    position: absolute;
  }

  /* -----------------
#WRAPPER
------------------- */

  .wrapper-move {
    transform: translateX(100%);
  }

  /* -----------------
# VIDEO
------------------- */

  .video-triangle-inner {
    transition: 0.2s;
    transform: translateX(5%) translateY(15px);
  }
  .video-triangle-outer {
    transition: 0.2s;
    transform: translateX(5%) translateY(16px);
  }

  /* -----------------
# DOCUMENTS
------------------- */

  .docs-triangle-inner {
    transition: 0.2s;
    transform: translateX(-160%) translateY(15px);
  }
  .docs-triangle-outer {
    transition: 0.2s;
    transform: translateX(-147%) translateY(16px);
  }

  ul li {
    list-style: none;

    line-height: 2rem;
  }
}

@media (min-width: 500px) {
  #root .Popover {
    max-width: 95%;

    /* -----------------
# DOCUMENTS
------------------- */

    .docs-triangle-inner {
      transition: 0.5s;
      transform: translateX(-210%) translateY(15px);
    }
    .docs-triangle-outer {
      transition: 0.5s;
      transform: translateX(-192%) translateY(16px);
    }
  }
}

@media (min-width: 900px) {
  #root .Popover {
    bottom: auto;
    top: 0.5rem;
    left: 6rem;
    min-height: 180px;

    .wrapper-move {
      transform: none;
    }

    .triangle-wrapper {
      position: static;
    }

    .inner-triangle {
      border-top: 15px solid transparent;
      border-right: 15px solid white;
    }
    .outer-triangle {
      border-top: 16px solid transparent;
      border-right: 16px solid rgba(28, 39, 60, 0.05);
    }
    .video-triangle-inner {
      transform: translateX(0) translateY(0);
      top: 0.5rem;
      left: -1.8rem;
    }
    .video-triangle-outer {
      transform: translateX(0) translateY(0);
      top: 0.4rem;
      left: -2.05rem;
    }

    .docs-triangle-inner {
      transform: translateX(0) translateY(0);
      top: 8.5rem;
      left: -1.8rem;
    }
    .docs-triangle-outer {
      transform: translateX(0) translateY(0);
      top: 8.4rem;
      left: -2.05rem;
    }
  }
}
