/* -----------------
# GENEREL
------------------- */

#root .Popover {
  position: absolute;
  max-width: 90%;
  bottom: 0.8rem;
  z-index: 2;
  left: 5%;

  .Popover ul {
    position: relative;
  }
  .triangle-wrapper {
    position: absolute;
    width: 100%;
    transition: 1s;
  }

  .inner-triangle {
    background-color: transparent;
    border-top: 15px solid white;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    height: 30px;
    width: 30px;
    position: absolute;
  }
  .outer-triangle {
    background-color: transparent;
    border-top: 16px solid rgba(28, 39, 60, 0.05);
    border-bottom: 15px solid transparent;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    height: 34px;
    width: 34px;
    position: absolute;
  }

  /* -----------------
#WRAPPER
------------------- */

  .wrapper-move {
    transform: translateX(100%);
  }

  /* -----------------
# VIDEO
------------------- */

  .video-triangle-inner {
    transition: 0.5s;
    transform: translateX(5%) translateY(15px);

    /*   left: 1.5rem; */
  }
  .video-triangle-outer {
    transition: 0.5s;
    transform: translateX(5%) translateY(16px);
    /*  left: 1.37rem; */
  }

  /* -----------------
# DOCUMENTS
------------------- */

  .docs-triangle-inner {
    transition: 0.5s;
    transform: translateX(-160%) translateY(15px);
    /*   right: 0.5rem; */
  }
  .docs-triangle-outer {
    transition: 0.5s;
    transform: translateX(-147%) translateY(16px);
    /*  right: 0.37rem; */
  }

  ul li {
    list-style: none;
  }
}
