.Popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  padding-top: var(--m-padding);
  display: flex;
  justify-content: center;
}

.Popup ul.image .figcaption-image > li {
  padding: 0.5rem 0 1rem;
  margin: 0;
}
.Popup ul.image {
  overflow: scroll;
  padding: 4rem 1rem 1rem;
}
.feather-x {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  height: 40px;
  width: 40px;
  background: #ffffffa6;
  border-radius: 50%;
  padding: 0.5rem;
  width: 50px;
  height: 50px;
}

.loadedImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.Popup ul {
  padding: 1rem 1.5rem 3rem;
  li {
    list-style: none;
    border-radius: 0.2rem;
  }
}
.Popup ul.video,
.Popup ul.docs {
  justify-content: center;
}
.Popup ul.video,
.Popup ul.docs,
.Popup ul.image {
  height: 100%;
  display: flex;
  align-items: center;
}
.Popup ul.video,
.Popup ul.docs {
  flex-wrap: nowrap;
  flex-direction: column;
}

.Popup ul.docs {
  width: 100%;
  height: 100%;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
    background: #fff;
  }
}

.Popup ul.image {
  flex-wrap: nowrap;
  flex-direction: column;

  li {
    padding: 1rem;
  }
}

ul.video,
ul.docs {
  display: block;
  width: 100%;
  height: auto;
  max-width: 500px;
  padding: 1rem;
}
ul.video iframe {
  width: 100%;
  height: 400px;
  padding-bottom: 0.5rem;
  border: none;
}

@media (min-width: 768px) {
  .feather-x {
    height: 40px;
    width: 40px;
    background: transparent;
    border-radius: 0%;
    padding: 0rem;
  }

  .loadedImage {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 400px;
    object-fit: contain;
  }
  .Popup ul.image {
    padding: 1rem 1.5rem 3rem;
  }
  .Popup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.55);

    svg.close-it {
      stroke: #fff;
    }

    ul svg {
      width: 60px;
      height: 60px;
    }
    ul.video,
    ul.image {
      background-color: #fff;
      width: auto;
      height: auto;
    }

    ul.video {
      width: 100%;
    }

    .svg-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      transform: translateY(1.3rem);
    }
  }
  .Popup ul.docs iframe {
    width: 80vw;
  }
  #App > main > div > ul.image > p {
    position: absolute;
    bottom: 0rem;
    right: 2rem;
  }
  #root .Popup > ul.image {
    position: relative;
  }
}
