/* --------------------
# ROOT / VARIABLES
----------------------- */

:root {
  //padding on sections -mobile
  --m-padding: 0.9375rem;
}

/* --------------------
# GENEREL
----------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.hide {
  display: none;
}

#root {
  position: relative;
  p {
    font-size: 0.875rem;
    color: #707070;
  }

  .btn {
    text-transform: uppercase;
  }
  #App {
    background-color: #f5f6fa;
    padding: var(--m-padding);
    width: 100%;
    margin: 0;
  }

  .Task {
    padding-top: var(--m-padding);
  }

  .Popup {
    background-color: rgb(234, 252, 234);
    padding: var(--m-padding);
  }
  .section-bg {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(28, 39, 60, 0.05);
    height: auto;
    width: 100%;
    border: 1px solid rgba(72, 94, 144, 0.16);
    margin-bottom: 4rem;
    padding: var(--m-padding);
    border-radius: 0.2rem;
  }

  button {
    padding: 0.391rem 0.5rem;
    border-radius: 0.2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 11px;
    line-height: 1.773;
  }
}
