/* --------------------
# ROOT
----------------------- */
:root {
  //Button colors
  --primary: #0168fa;
  --secondary: #fff;
  --tertiary: #10b759;

  //border colors
  --gray: rgba(27, 46, 75, 0.7);

  //padding on sections -mobile
  --m-padding: 0.9375rem;
}

/* --------------------
# GENEREL
----------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

p {
  font-size: 0.875rem;
}

.btn {
  text-transform: uppercase;
}

#root {
  #App {
    background-color: #f5f6fa;
    padding: var(--m-padding);
    width: 100%;
    margin: 0;
  }

  .Task {
    background-color: rgb(255, 239, 255);
    padding: var(--m-padding);
  }

  .Popup {
    background-color: rgb(234, 252, 234);
    padding: var(--m-padding);
  }
  .section-bg {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(28, 39, 60, 0.05);
    height: auto;
    width: 100%;
    border: 1px solid rgba(72, 94, 144, 0.16);
    margin-bottom: 4rem;
    padding: var(--m-padding);
    border-radius: 0.2rem;
  }

  button {
    padding: 0.391rem 0.5rem;
    border-radius: 0.2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 11px;
    line-height: 1.773;
  }
}

/* --------------------
# NAVIGATION
----------------------- */
#App {
  nav select {
    display: block;
    width: 100%;
    padding: 0.46875rem 0.625rem;
    margin-bottom: 1rem;
  }
  .top-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  .back,
  .undone {
    margin-left: 0.5rem;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  .start {
    margin-right: 0.5rem;
  }

  .nav-container p span {
    color: #dc3545;
  }

  .extra {
    border: none;
    display: flex;
    justify-content: flex-end;
  }

  .extra label {
    text-align: right;
  }

  .message {
    height: auto;
  }

  .back {
    background-color: #fff;
  }

  .custom-control.custom-switch {
    display: flex;
    flex-direction: row-reverse;
  }

  fieldset.extra {
    position: relative;
  }

  .extra .label {
    position: absolute;
    right: 2.5rem;
    top: -0.15rem;
  }

  .extra .custom-control {
    right: 0.9rem;
  }

  .custom-switch .custom-control-label:empty::after {
  }
}
