/* --------------------
# ROOT / VARIABLES
----------------------- */

:root #root {
  //padding on sections -mobile
  --m-padding: 0.9375rem;
}

/* --------------------
# GENEREL
----------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.hide {
  display: none;
}
.assistant-interface {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

#root::-webkit-scrollbar,
.assistant-interface::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #f5f6fa;
}

.assistant-interface::-webkit-scrollbar-thumb {
  background-color: rgb(199, 199, 199);
  border-radius: 20px;
}

input[type="checkbox"],
svg,
.accordion-title,
.accordion-body,
label,
select,
.Popover li {
  cursor: pointer;
}

#root {
  position: relative;

  .dk-date,
  .en-date {
    font-size: 1.09375rem;
    font-weight: 300;
  }

  p {
    font-size: 0.875rem;
    color: #707070;
  }

  .btn {
    text-transform: uppercase;
  }

  .section-bg {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(28, 39, 60, 0.05);
    height: auto;
    width: 100%;
    border: 1px solid rgba(72, 94, 144, 0.16);
    margin-bottom: 4rem;
    padding: var(--m-padding);
    border-radius: 0.2rem;
  }

  button {
    padding: 0.391rem 0.5rem;
    border-radius: 0.2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 11px;
    line-height: 1.773;
  }

  /* --------------------
# APP.JS
----------------------- */
  #App {
    background-color: #f5f6fa;
    padding: var(--m-padding);
    width: 100%;
    margin: 0;
    min-height: 100vh;
  }

  #App > h1,
  #App .text-muted {
    max-width: 1083px;
    margin: 1rem auto;
  }

  /* --------------------
# MAX-WIDTH
----------------------- */
  .Main,
  #Nav {
    max-width: 1083px;
    margin: 0 auto;
  }

  /* --------------------
# PRELOADER
----------------------- */
  .spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
}
