.custom-control-input-switch {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
}
.custom-control-input-switch {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control-label-switch {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.custom-control-label-switch {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}
.Switch {
  padding: 20px 20px 20px 35px;
  border-bottom: 1px solid #d5d5d5;
}
