#root {
  .Task {
    padding-bottom: var(--m-padding);
    position: relative;
  }
  .Task .accordion-title {
    text-transform: uppercase;
    background-color: #f4f5f8;
    border-bottom: 1px solid #d5d5d5;
  }
  .ui-accordion-content {
    padding-top: 15px;
    padding-right: 27px;
    border-bottom: none;
  }
  #accordion2 > div > div.accordion-body > p {
    max-width: 75ch;
  }
  .read-more {
    position: absolute;
    transform: translateY(-2.1rem);
    right: 1rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 31%,
      rgba(255, 255, 255, 1) 100%
    );
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-left: 3.5rem;
    padding-right: 1rem;
  }
  .blue-text {
    color: #0168fa;
  }
}

#accordion2 [data-state="hidden"] {
  animation: gray-border 1s ease-in-out 1 forwards;
  border-radius: 0.2rem;

  @keyframes gray-border {
    0% {
      border: 1px solid #0168fa;
    }
    100% {
      border: 1px solid rgba(72, 94, 144, 0.16);
    }
  }
  .read-more {
    display: block;
    opacity: 0;
    animation: read-fade-in 0.5s 0.5s ease-in-out 1 forwards;
  }
  @keyframes read-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .accordion-body {
    animation: close 0.3s ease-out 1 forwards;
    overflow: hidden;
  }

  @keyframes close {
    0% {
      max-height: 100px;
      overflow: auto;
    }
    100% {
      max-height: 75px;
      padding-bottom: 0;
      overflow: hidden;
    }
  }
  .accordion-body::-webkit-scrollbar {
    width: 0;
  }
  .ui-accordion-header .ui-accordion-header-icon::before {
    content: "\f273";
    font-family: "Ionicons";
    font-size: 20px;
    display: inline-block;
    transform: translateY(-4px) translateX(-3px);
  }

  .accordion-body > p:nth-child(1) {
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    width: 100%;
    animation: fade 0.3s ease-in-out 1 forwards;
  }

  @keyframes fade {
    0% {
      max-height: 200px;
    }
    100% {
      max-height: 40px;
    }
  }
  .Media,
  .Switch {
    display: none;
  }
}

#accordion2 [data-state="shown"] {
  animation: blue-border 1s ease-in-out 1 forwards;
  border-radius: 0.2rem;

  @keyframes blue-border {
    0% {
      border: 1px solid rgba(72, 94, 144, 0.16);
    }
    100% {
      border: 1px solid #0168fa;
    }
  }

  .feather-check,
  .read-more {
    display: none;
  }

  .read-more {
    display: none;
  }

  .accordion-body {
    height: 100%;
    max-height: 100%;
    animation: open 2s ease-in-out 1 forwards;
    overflow: hidden;
    padding-bottom: 0rem;
    p {
      margin-bottom: 0;
    }
  }

  @keyframes open {
    0% {
      max-height: 65px;
    }

    100% {
      height: auto;
      max-height: 5000px;
      padding-bottom: 0rem;
    }
  }
  .ui-accordion-header.ui-state-active .ui-accordion-header-icon::before {
    content: "\f368";
    font-size: 20px;
    transform: translateY(-4px) translateX(-3px);
  }
}

#root .accordion-title {
  display: flex;
  justify-content: space-between;
  p {
    margin: 0;
    white-space: pre-wrap;
    color: #001737;
  }
  p:nth-child(3) {
    padding-right: 0.8rem;
  }
}

@media (min-width: 700px) {
  #root .read-more {
    transform: translateY(-2.1rem);
    right: auto;
    left: 30rem;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 35%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
@media (min-width: 900px) {
  #root .accordion-wrapper {
    width: 100%;
    display: grid;
    grid-template-areas:
      "header body body done"
      "media body body fill"
      /*   "media body body done" */
      "space body body fill";
    grid-template-columns: 15rem 30% auto 154px;
    grid-template-rows: auto auto;

    .ui-accordion-header {
      border-width: 0;
    }

    .Switch {
      display: block;
    }

    .fill-media {
      grid-area: fill;
      background-color: #fff;
    }
  }

  .task-list {
    width: 100%;
    padding-top: 0.4rem;
  }

  #root #accordion2 > div > div.accordion-body > p {
    max-width: 450px;
    min-height: 40px;
  }
  #root .read-more {
    right: 1rem;
    left: auto;
    padding-right: 1rem;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 35%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  #root #App .accordion-wrapper {
    background-color: #f4f5f8;
  }
  #root #App .Switch {
    grid-area: done;
    background-color: #fff;
    height: 100%;
    position: relative;
    border-bottom: 0;

    .custom-control {
      /*  display: flex; */
      /*     align-items: center; */
      position: relative;
      /* top: 40%; */
      right: 2rem;
    }
  }

  #root #App .accordion-title {
    grid-area: header;
    border-bottom-width: 0;
    display: block;
    height: auto;

    p {
      display: block;
    }
    p:nth-child(2) {
      padding-left: 0.2rem;
      padding: 0 0 0.5rem 0.2rem;
    }
  }
  #root #App .accordion-body {
    grid-area: body;
    background-color: #fff;
    border-right-width: 0;
    padding-bottom: 15px;
  }
  #root #App .Media {
    grid-area: media;
    flex-direction: column;
    background-color: #f4f5f8;
    max-width: 100%;
    border-width: 0;
    padding-top: 0;

    svg {
      margin: 1rem 0;
    }
    svg:nth-child(3) {
      margin-bottom: 1.5rem;
    }
  }
  #accordion2 [data-state="hidden"] {
    .Media {
      animation: close-big 0.3s ease-out 1 forwards;
      overflow: hidden;
    }

    @keyframes close-big {
      0% {
        max-height: 100px;
        overflow: auto;
      }
      100% {
        max-height: 75px;
        overflow: hidden;
      }
    }

    .Media,
    .Switch > .custom-control {
      display: none;
    }
  }

  #accordion2 [data-state="shown"] {
    .Media {
      height: 100%;
      max-height: 100%;
      animation: open-big 2s ease-in-out 1 forwards;
    }

    @keyframes open-big {
      0% {
        max-height: 65px;
      }

      100% {
        height: auto;
        max-height: 5000px;
        padding-bottom: 0rem;
      }
    }

    @keyframes open {
      0% {
        max-height: 165px;
      }

      100% {
        height: auto;
        max-height: 5000px;
        padding-bottom: 0rem;
      }
    }
    .accordion-body {
      p {
        margin-bottom: 1rem;
      }
    }
  }
}
@media (min-width: 1025px) {
  #root .read-more {
    right: auto;
    left: 22rem;
  }
}
