#root #accordion2 [data-state="hidden"] {
  animation: gray-border 1s linear 1 forwards;
  border-radius: 0.2rem;
  border: 1px solid rgba(72, 94, 144, 0.16);

  @keyframes gray-border {
    0% {
      border: 1px solid #0168fa;
    }
    100% {
      border: 1px solid rgba(72, 94, 144, 0.16);
    }
  }
  .read-more {
    display: block;
    opacity: 0;
    animation: read-fade-in 0.5s 0.5s linear 1 forwards;
  }
  @keyframes read-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .accordion-body {
    animation: close 0.5s linear 1 forwards;
    overflow: hidden;
  }

  @keyframes close {
    0% {
      max-height: 500px;
      overflow: auto;
    }
    100% {
      max-height: 75px;
      padding-bottom: 0;
      overflow: hidden;
    }
  }
  .accordion-body::-webkit-scrollbar {
    width: 0;
  }
  .ui-accordion-header .ui-accordion-header-icon::before {
    content: "\f273";
    font-family: "Ionicons";
    font-size: 20px;
    display: inline-block;
    transform: translateY(-4px) translateX(-3px);
  }

  .accordion-body > p:nth-child(1) {
    overflow: hidden;
    width: 100%;
    animation: fade 0.3s linear 1 forwards;
  }

  @keyframes fade {
    0% {
      max-height: 500px;
    }
    100% {
      max-height: 40px;
    }
  }
  /*   .Media {
    display: none;
  } */
  .Switch,
  .Media {
    animation: fade-media-switch 0.5s 1 forwards;
  }

  @keyframes fade-media-switch {
    0% {
      opacity: 1;
      max-height: 500px;
    }

    100% {
      opacity: 0;
      max-height: 0px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

@media (min-width: 900px) {
  #root #accordion2 [data-state="hidden"] {
    .Media {
      svg {
        animation: svg-gone 0.5s 1 backwards;
      }
    }

    @keyframes svg-gone {
      0% {
        width: 30px;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      100% {
        width: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    /*     @keyframes close-big {
      0% {
        max-height: 500px;
        overflow: hidden;
      }
      100% {
        max-height: 75px;
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
      }
    } */

    .Switch {
      animation: none;
    }

    .Switch > .custom-control {
      transition: 0.5s;
      opacity: 0;
    }
  }
}
