#root #accordion2 [data-state="shown"] {
  animation: blue-border 1s linear 1 forwards;
  border-radius: 0.2rem;
  border: 1px solid #0168fa;

  @keyframes blue-border {
    0% {
      border: 1px solid rgba(72, 94, 144, 0.16);
    }
    100% {
      border: 1px solid #0168fa;
    }
  }

  .feather-check,
  .read-more {
    display: none;
  }

  .read-more {
    display: none;
  }

  .accordion-body {
    height: 100%;
    max-height: 100%;
    animation: open 3s linear 1 forwards;
    overflow: hidden;
    padding-bottom: 0rem;
    p {
      margin-bottom: 0;
    }
  }

  @keyframes open {
    0% {
      max-height: 65px;
    }

    100% {
      height: auto;
      max-height: 5000px;
      padding-bottom: 0rem;
    }
  }
  .ui-accordion-header.ui-state-active .ui-accordion-header-icon::before {
    content: "\f368";
    font-size: 20px;
    transform: translateY(-4px) translateX(-3px);
  }
}
@media (min-width: 900px) {
  #root #accordion2 [data-state="shown"] {
    .Media svg {
      height: 100%;
      max-height: 100%;
      animation: open-big 0.5s linear 1 forwards;
    }
    .accordion-body p {
      animation: open-text 0.7s linear 1 forwards;
    }

    @keyframes open-big {
      0% {
        max-height: 5px;
        padding-bottom: 0rem;
      }

      100% {
        height: auto;
        max-height: 100px;
        padding-bottom: 0rem;
      }
    }

    @keyframes open-text {
      0% {
        max-height: 65px;
        padding-bottom: 0rem;
      }

      100% {
        height: auto;
        max-height: 500px;
        overflow: scroll;
        padding-bottom: 0rem;
      }
    }

    @keyframes open {
      0% {
        max-height: 165px;
      }

      100% {
        height: auto;
        max-height: 5000px;
        padding-bottom: 0rem;
      }
    }

    .accordion-body {
      p {
        margin-bottom: 1rem;
      }
    }
  }
}
