/* --------------------
# TASKS IN GENEREL
----------------------- */

#root {
  .Task {
    padding-bottom: var(--m-padding);
    position: relative;
    .ui-accordion-header,
    .ui-accordion-content {
      border: none;
    }
  }
  .Task .accordion-title {
    text-transform: uppercase;
    background-color: #f4f5f8;
    border-bottom: 1px solid #d5d5d5;
  }
  .ui-accordion-content {
    padding-top: 15px;
    padding-right: 27px;
    border-bottom: none;
  }
  #accordion2 > div > div.accordion-body > p {
    max-width: 75ch;
  }
  .read-more {
    position: absolute;
    transform: translateY(-2.1rem);
    right: 1rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 31%,
      rgba(255, 255, 255, 1) 100%
    );
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-left: 3.5rem;
    padding-right: 1rem;
  }
  .blue-text {
    color: #0168fa;
  }
  .accordion-body p {
    scrollbar-width: none;
  }

  #accordion2 [data-state="start"] {
    border: 1px solid rgba(72, 94, 144, 0.16);
    border-radius: 0.2rem;
    height: 118px;
    overflow: hidden;

    .ui-accordion-header .ui-accordion-header-icon::before {
      content: "\f273";
      font-family: "Ionicons";
      font-size: 20px;
      display: inline-block;
      transform: translateY(-4px) translateX(-3px);
    }

    .accordion-wrapper {
      height: 118px;
    }
    .accordion-body p:nth-child(1) {
      height: 40px;
    }

    .accordion-body {
      overflow: hidden;
    }
    .Switch > .custom-control {
      display: none;
    }
    .accordion-body > p:nth-child(1) {
      max-height: 40px;
      overflow: hidden;
    }
  }
}

#root .accordion-title {
  display: flex;
  justify-content: space-between;
  p {
    margin: 0;
    white-space: pre-wrap;
    color: #001737;
  }
  p:nth-child(3) {
    padding-right: 0.8rem;
  }
}

@media (min-width: 700px) {
  #root .read-more {
    transform: translateY(-2.1rem);
    right: auto;
    left: 30rem;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 35%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
@media (min-width: 900px) {
  #root .accordion-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "header body body done"
      "media body body fill"
      "space body body fill"
      "space body body fill";
    grid-template-columns: 15rem 30% auto 154px;
    grid-template-rows: 71px auto auto auto;

    .ui-accordion-header {
      border-width: 0;
    }

    .Switch {
      display: block;
    }

    .fill-media {
      grid-area: fill;
      background-color: #fff;
    }
  }

  .task-list {
    width: 100%;
    padding-top: 0.4rem;
  }

  #root #accordion2 > div > div.accordion-body > p {
    max-width: 450px;
    min-height: 40px;
  }
  #root .read-more {
    right: 1rem;
    left: auto;
    padding-right: 1rem;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 35%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  #root #App .accordion-wrapper {
    background-color: #f4f5f8;
  }
  #root #App .Switch {
    grid-area: done;
    background-color: #fff;
    height: 100%;
    position: relative;
    border-bottom: 0;

    .custom-control {
      position: relative;
      right: 2rem;
    }
  }

  #root #App .accordion-title {
    grid-area: header;
    border-bottom-width: 0;
    display: block;
    height: auto;

    p {
      display: block;
    }
    p:nth-child(2) {
      padding-left: 0.2rem;
      padding: 0 0 0.3rem 0.2rem;
    }
  }
  #root #App .accordion-body {
    grid-area: body;
    background-color: #fff;
    border-right-width: 0;
    padding-bottom: 0px;
    scrollbar-width: none;
  }
  #root #App .Media {
    grid-area: media;
    flex-direction: column;
    background-color: #f4f5f8;
    max-width: 100%;
    border-width: 0;
    padding-top: 0;
    justify-content: flex-start;
    padding-top: 1rem;

    svg {
      margin: 1rem 0;
    }
    svg:nth-child(3) {
      margin-bottom: 1.5rem;
    }
  }
  #root #accordion2 [data-state="start"] {
    height: 71px;

    .accordion-wrapper {
      height: 71px;
    }
  }
}
@media (min-width: 1045px) {
  #root .read-more {
    right: auto;
    left: 22rem;
  }
}
